body{
    background-color: #F5F5F5;
}
.nav_btns{
    border: none;
    background-color: #F5F5F5;
}
#email_btn{
    float: right;
    font-size: 150%;
    font-family: 'Playfair Display', serif;

}
#logo_btn{
    float: left;
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    padding-right: 5%;
}
#nav_bar{
    overflow: hidden;
}
#nav-bar li{
    display: block;
}
