body{
    background-color: #F5F5F5;
}
.nav_btns{
    border: none;
}
#email_btn{
    float: right;
    font-size: 200%;
}
#logo_btn{
    float: left;
    font-size: 250%;
}
#nav_bar{
    overflow: hidden;
}
