html{
    scroll-behavior: smooth;
}
body{
    background-color: #F5F5F5;
    margin: 0%;
}
#homepage{
    display: block;
    height: 100%;
    display: none;
}
.nav_btns{
    border: none;
    background-color: #F5F5F5;
}
#email_btn{
    float: right;
    font-size: 150%;
    font-family: 'Playfair Display', serif;
    padding-left: 20%;

}
#logo_btn{
    float: left;
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    padding-right: 20%;
}
#nav_bar{
    overflow: hidden;
}
#nav-bar li{
    display: block;
}
.nav-opt-btn{
    padding-top: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    border: none;
    background-color: #F5F5F5;
}
.nav-opt-btn:hover{
    background-color: #E1E0DF;
}
#name-content{
    text-align: center;
    padding-top: 5%;
    font-size: 64px;
    font-family: 'Playfair Display', serif;

}
#name-subcontent{
    text-align: center;
    padding-top: 2%;
    font-size: 30px;
    font-family: 'Playfair Display', serif;

}
#scroll-footer{
    font-size: 24px;
    text-align: center;

    padding-top: 40%;
}
#home-icon{
    float: left;
    font-size: 150%;
    padding-right: 20%;
    padding-left: 1%;
    padding-top: 1%;
    position: fixed;

}
.nav-content{
    text-align: center;
    padding-top: 9%;
    padding-bottom: 9%;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    border-bottom: 1.5px solid #453F3C;
    
    margin: auto;
     
}
#about-me{
    background-color: #7BBB79;
    
}
#projects{
    border-top: 1.5px solid #453F3C;
    
}
#contact-me{
    border-top: 1.5px solid #453F3C;
}

#projects-content{
    background-color: #F4B461;
}
#contact-me-content{
    background-color: #74CFCF;  
}
.info-box{
    background-color: #EBEBEB;
}
#contact-info{
    display: block;
}
#project-info{
    display: block;
}
#about-info{
    display: block;
}
